.container{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
.wrapper{
    margin: 0px auto;
}
header{
    width: auto;
    margin: 0;
}

article{
    border: white 1px solid;
    border-radius: 2px;
    margin: 0 10px;
    padding: 5px;
}
article img{
    max-width: 560px;
    background-color: white;
}
article p{
    margin: 10px;
}
article p:first-child{
    text-indent: 15px;
}
article ul, article p{
    text-align: justify;
}
nav, header, footer, article{
    text-align: center;
}

nav{
    border: #0f6709 3px solid;
    padding: 20px 20px 30px;
    max-width: 10%;
    min-width: 120px;
    align-self: start;
    border-radius: 5%;
}
nav, footer{
    color: black;
}
nav h1{
    font-size: 20px;
    margin: 0 0 5px;
}
nav a{
    display: block;
    text-decoration: none;
    color: red;
    margin: 8px auto;
}
nav a:active{
    color: yellow;
}
.active{
    color: #bcbc00;
}
footer{
    border: black 1px solid;
    background-color: #ff9100;
    font-size: 13px;
    margin: 20px auto;
}
body{
    color: #fb71ff;
    background-color: #014a8e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0;
}
#hidden{
    opacity: 0;
}
#hidden:hover{
    opacity: 100;
}