<div class="blog-post">
    <h2>Categories</h2>
    <ul class="category-post">
        {% block categories %}
        {% endblock %}
        <!--   <?php // echo $categoriesData; ?> -->
    </ul>
</div>