<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <ul class="footer-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="#">Compnies represented</a></li>
                    <li><a href="contact-us.html">Contact us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Products</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    Copyright &copy; 2018 distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>