<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 address">
                <i class="ti-location-pin"></i> Adress:
            </div>
            <div class="col-sm-6 social">
                <ul>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>